.description{
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 25px;
}

#introduction-service{
    padding-top: 5vh;
    padding-bottom: 10vh;
    background-color: #011E41;
    color: white;
    background-image: url(../../assets/backg-img-home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#description-service{
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.backg img{
    width: auto;
    height: 60px;
}

