
#banner {
    padding-top: 5vh;
    padding-bottom: 10vh;
    background-color: #011E41;
    color: white;
    background-image: url(../../../assets/backg-img-home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.service-text{
    color: red;
}

.p-banner{
    font-size: 25px;
}
