#contact{
    background-color: #011E41;
    padding-top: 5vh;
    color: white;
}

#copyright{
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.colum img{
    width: auto;
    height: 50px;
}

a{
    color: white;
    text-decoration: none;

}

a:hover{
    color: blue;
}