/*  003da7  azul
011E41     azul fte
CE0E2D		rojo 
9C182C		rojo fte */

body{
    font-family: 'Familjen Grotesk', sans-serif !important;
}

.espacios-arriba-abajo {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

h1 {
    font-size: 6rem !important;
}

h2 {
    font-size: 3rem !important;
}

p {
    font: 18px sans-serif;
}


