

#experience{
    background-color:#E9EAEF;
}

.tit{
    font-weight: bold;
}

.experience-box {
    background-color: #a0a0a07c;
    padding: 5vh;
    border-radius: 20px;
}

.numeric-data-row{
    padding-top: 5vh;
}